<ion-view title="Home" class="category-feeds-view">
<ion-content  class="splash">


    <div class="list category-feeds" ng-init="setInits()" >
      <a ng-repeat="restaurant in restaurants | orderBy:'distance'" class="item item-icon-right" href="" ng-click="gotoRestaurant(restaurant.restaurant_slug)">
         <img ng-if="restaurant.merchant_logo" class="thumbnail" ng-src="{{rooturl}}/upload/{{restaurant.merchant_logo}}">
         <img ng-if="!restaurant.merchant_logo" class="thumbnail" ng-src="img/thumbnail-mini.png">
        <div>
          <span class="title">{{restaurant.restaurant_name}}</span>
          <p class="description"> {{restaurant.street}} </p>
          <p class="description">{{source.description}}</p>
          <p class="description" ng-if="restaurant.distance">{{restaurant.distance}} Kilo meters</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
    




</ion-content> 
</ion-view>


