<ion-view title="Restaurant" >
<ion-content  ng-init="setInits()">
      <div  class="list card post-item" style="margin:0px; border-radius:0;">
        <div class="post-image item item-image" ng-show="!showmap" >
          <!-- This is a random image because the wordpress page I use for this example does not have images -->
         <img ng-if="options.merchant_photo" height="400" ng-src="{{rooturl}}/upload/{{options.merchant_photo}}" >
         <img ng-if="!options.merchant_photo" height="400" ng-src="img/restologos/b-1.jpg">
        </div>
        <div class="post-image item item-image"  ng-if="showmap" >
         <map style="height:400px" center="{{lat}},{{long}}" zoom="8">
             <marker 
         position="{{lat}},{{long}}"
        title="User Address"
        visible="true"
         icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
          ></marker>
  
         </map>
        </div>
        
              </div>
        
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title"> <b> {{restaurant.restaurant_name}} </b> 
             <span ng-show="currentuser">
                   <i style="font-size:28px; float:right; cursor:pointer; color:black;" class="icon ion-ios-heart-outline" ng-if="!favourite" ng-click="addToFavourites()"></i>          
                   <i style="font-size:28px; float:right; cursor:pointer; color:black;" class="icon ion-ios-heart" ng-if="favourite" ng-click="addToFavourites()"></i>
              </span>          
           </h2>
 
          <a class="item item-icon-left" ng-click="viewMap(restaurant.street,restaurant.city)" href="" style="border-color:#fff;overflow:hidden;padding:0;padding-left:15px ">
	               <i class="icon ion-ios-location" style="font-size:20px;color:#000;left:-10px"></i>
		    	      <p style="margin-left:10px"> {{restaurant.street}} , {{restaurant.city}} , {{country_name}}  </p>
		    </a>   
         <div style="height:8px;"></div> 
 
          <a class="item item-icon-left" href="" style="border-color:#fff;overflow:hidden;padding:0;padding-left:15px">
	               <i class="icon ion-ios-telephone" style="font-size:20px;color:#000;left:-10px"></i>
		    	      <p style="margin-left:10px"> {{restaurant.contact_phone}}  </p>
		    </a>   
  
           <div class="post-actions row">
            <div class="bookmark col col-center col-66">
              <button class="button button-small icon-left ion-clock" ng-click="viewTimeTable()">{{lang_strings.timeTable}}  </button>
            </div>
           
            <div class="bookmark col col-center col-33 pull-right" >
              <button class="button button-small icon-left ion-ios-star-outline" disabled> {{ratings.rating}}   </button>
              <button ng-if="currentuser" class="button button-small icon-left ion-ios-star-outline" ng-click="openRating()"> give rating {{userrating}}   </button>
            </div>
           
           
          </div>
          
        </div>
        
    <div class="list">
        <div class="item item-divider" style="font-size:80%">
             <span >  <b> {{lang_strings.orderNow}} </b> </span>    

           <span  class="custom-badge custom-value-badge" style="background-color:black;" ng-if="restaurant.service==3 || restaurant.service==1">{{lang_strings.takeAway}}  </span>
           <span  class="custom-badge custom-value-badge" style="background-color:black;"  ng-if="restaurant.service==2 || restaurant.service==1"> {{lang_strings.delivery}} </span> 
           <span class="custom-badge custom-value-badge"  ng-if="isOpened"> {{lang_strings.open}} </span>
           <span  class="custom-badge custom-value-badge closed-badge"  ng-if="!isOpened"> {{lang_strings.closed}} </span>
    
       </div>

		    <a class="item item-icon-left item-icon-right" href="" ng-click="getMenu( restaurant.merchant_id , menu.menu_id )" ng-repeat="menu in menus">
		            <i class="icon ion-compose" style="color:black"></i>
		    	      <h2>{{menu.menu_name}}</h2>
			         <p> {{menu.description}}</p>
					   <i class="icon ion-chevron-right" style="color:black"></i>
		    </a>

		    <a class="item" href="#" >
                      <p>
						         <b> {{lang_strings.cuisine}} : </b>
						         <span ng-repeat="cuisine in cuisines"> 
						                 {{cuisine.cuisine_name}} <span ng-if="cuisines.length != $index+1">,</span>  
						         </span>
						    </p>
						     <p ng-if="distance">
						        <b> {{lang_strings.distance}} : </b> 
						        <span > {{distance | roundDistance}} {{lang_strings.km}} </span> 
						    </p>
						    <p ng-if="options.merchant_delivery_estimation">
						        <b> {{lang_strings.deliveryEstimation}} : </b> 
						        <span > {{options.merchant_delivery_estimation}} {{lang_strings.minutes}} </span> 
						    </p>
						    <p ng-if="options.merchant_delivery_miles">
						        <b> {{lang_strings.deliveryDistanceCovered}}: </b> 
						        <span> {{options.merchant_delivery_miles}}  {{lang_strings.km}} </span>    
						    </p>
						    
						    <p>
						        <b> {{lang_strings.deliveryFee}}: </b> 
						        <span ng-if="options.merchant_delivery_charges"> <span ng-bind-html="curr"></span>{{options.merchant_delivery_charges | prettyFilter:decimal:separator}} </span>
						        <span ng-if="!options.merchant_delivery_charges"> {{lang_strings.freeDelivery}} </span>
						    </p>
                      


          </a>
    
    </div>

</ion-content> 
</ion-view>
