<ion-view  class="login-view">
  <ion-content scroll="true" >
    <div class="row">
      <div class="col col-center">
       
        <div class="list">
        
     
          
             
      
        <div class="card login-container" >
                  <form name="" class="" novalidate>
        <div class="item item-body">
                <div class="list">
             <label class="item item-input item-floating-label">
                <span class="input-label"> {{lang_strings.enterCode}} </span>                
                <input type="text" name="code" placeholder="Code" ng-model="code"  />
            </label>

                </div>
                <div class="list">
             <label class="item item-input item-floating-label">
                <span class="input-label"> {{lang_strings.password}} </span>                
                <input type="password" name="password" placeholder="Password" ng-model="password"  />
            </label>

                </div>
         </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="changepassword(code,password)">
            {{lang_strings.submit}}   </button>
               
            </div>
          </form>
        </div>
       
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>






























