<ion-view class="login-view">
  <ion-content scroll="true" >
    <div class="row">
      <div class="col col-center">
       
        <div class="list">
        
     
          
             
      
        <div class="card login-container" >
                  <form name="" class="" novalidate>
        <div class="item item-body">
                <div class="list">
             <label class="item item-input item-floating-label">
                <span class="input-label"> {{lang_strings.email}}  </span>                
                <input type="text" name="email" placeholder="Email" ng-model="email"  />
            </label>

                </div>
         </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="forgotpassword(email)">
             {{lang_strings.submit}}   {{lang_strings.email}}  </button>
               
            </div>
          </form>
        </div>
       
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>






























