<ion-view class="login-view">
  <ion-content ng-init="setInits()">
    <div class="row">
      <div class="col col-center">
          <div class="card" ng-if="errors.length">
            <div ng-repeat="error in errors" class="item item-text-wrap errorlist">
                {{error}}
            </div>
        </div>
        <div class="list" >
                <div class="card" ng-if="submitted && (registervalid.pswd.$invalid || registervalid.firstname.$invalid || registervalid.lastname.$invalid || registervalid.mobile.$invalid || registervalid.email.$invalid)">
            <div class="item item-text-wrap errorlist" >
               <ul ng-show="submitted && registervalid.pswd.$invalid" >
                    <li ng-show="registervalid.pswd.$error.required">{{lang_strings.password}} {{lang_strings.isRequired}}</li>
                </ul>
                 <ul ng-show="submitted && registervalid.firstname.$invalid" >
                    <li ng-show="registervalid.firstname.$error.required">{{lang_strings.firstName}} {{lang_strings.isRequired}}</li>
                </ul>
                 <ul ng-show="submitted && registervalid.lastname.$invalid" >
                    <li ng-show="registervalid.lastname.$error.required">{{lang_strings.lastName}} {{lang_strings.isRequired}}</li>
                </ul>
                 <ul ng-show="submitted && registervalid.mobile.$invalid" >
                    <li ng-show="registervalid.mobile.$error.required">{{lang_strings.phoneNumber}} {{lang_strings.isRequired}}</li>
                </ul>
                 <ul ng-show="submitted && registervalid.email.$invalid" >
                    <li ng-show="registervalid.email.$error.required">{{lang_strings.email}} {{lang_strings.isRequired}}</li>
                </ul>
               
             </div>
               </div>

        <div class="card login-container" >
                  <form name="registervalid" class="" novalidate>
        <div class="item item-body">
                <div class="list">
<label class="item item-input item-floating-label" ng-class="{ 'field-error' : submitted && registervalid.firstname.$invalid }">
                <span class="input-label"> {{lang_strings.firstName}}</span>
                <input type="text" name="firstname" placeholder="First Name" ng-model="user.first_name" required/>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'field-error' : submitted && registervalid.lastname.$invalid }">
                <span class="input-label">{{lang_strings.lastName}}</span>
                <input type="text" name="lastname" placeholder="Last Name" ng-model="user.last_name" required/>
            </label>
            
            <label class="item item-input item-floating-label" ng-class="{ 'field-error' : submitted && registervalid.mobile.$invalid }">
                <span class="input-label">{{lang_strings.phoneNumber}}</span>
                <input type="text" name="mobile" placeholder="Mobile" ng-model="user.contact_phone" required/>
            </label>
            
            
            <label class="item item-input item-floating-label" ng-class="{ 'field-error' : submitted && registervalid.email.$invalid }">
                <span class="input-label">{{lang_strings.email}}</span>
                <input type="text" name="email" placeholder="Email" ng-model="user.email_address" required/>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'field-error' : submitted && registervalid.pswd.$invalid }">
                <span class="input-label">{{lang_strings.password}}</span>
                <input type="password" name="pswd" placeholder="Pass word" ng-model="user.password" required />
            </label>

                </div>
         </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="register(registervalid.$valid)">
                  {{lang_strings.register}}
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
        
          <button class="sign-up button button-small button-clear button-light" ng-click="login()">
                {{lang_strings.login}}
          </button>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>



































